# Save extact version of each depencency while installing.
save-exact=true
# Always use the public npm registry
registry=https://registry.npmjs.org/

# Explicitly mark this scope as public
@tectonic-technologies:registry=https://registry.npmjs.org/